project_id                   = "interseguro-challenge-508112"
region                       = "southamerica-west1"
artifact_registry_repository = "interseguro-challenge"
go_service_name              = "interseguro-go-api"
node_service_name            = "interseguro-node-api"
go_image                     = "southamerica-west1-docker.pkg.dev/interseguro-challenge-508112/interseguro-challenge/go-api:v1"
node_image                   = "southamerica-west1-docker.pkg.dev/interseguro-challenge-508112/interseguro-challenge/node-api:v1"
